Welcome to Renux!

Renux is a modern BSD operating system - easy to maintain and debug, built
for portability and performance, and community-driven and decentralized.

Source code:  https://github.com/renuxproject/src
Website:      https://renuxproject.github.io
